SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Notificar a l'admin quan es registra un nou alumne (True/False)
NOTIFY_ADMIN_NEW_STUDENTS=True

# Configuración Base de Datos PostgreSQL
DB_NAME=borsainspl_db
DB_USER=borsainspl_user
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432

# Configuración Gmail SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=